version: "3.9"

services:
  postgres:
    image: postgres:14
    container_name: medical_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: medical_warehouse
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    container_name: data_shipper
    depends_on:
      - postgres
    env_file:
      - .env
    volumes:
      - .:/app
    command: bash
    ports:
      - "8000:8000"

volumes:
  pgdata:
